<div ng-controller="SidebarCtrl as sidebar" ng-if="app.uiRouterState.includes('transport') || app.uiRouterState.includes('shipper')">
  <div class="col-sm-3 col-md-2 sidebar" ng-if="app.uiRouterState.includes('shipper')">
    <ul class="nav nav-sidebar">
      <li><a href="">Delivery</a></li>
      <li><a href="">Inbox</a></li>
      <li><a href="">Payment History</a></li>
      <li><a href="">Feedback</a></li>
    </ul>
    <div ng-include="sidebar.commonPart"></div>
  </div>
  <div class="col-sm-3 col-md-2 sidebar" ng-if="app.uiRouterState.includes('transport')">
    <ul class="nav nav-sidebar">
      <li><a href="">Customer Records</a></li>
      <li><a href="">Quotes</a></li>
      <li><a href="">Payments</a></li>
      <li><a href="">Track&Trace</a></li>
      <li><a href="">Calendar</a></li>
      <li><a href="">Tasks</a></li>
      <li><a href="">Inbox</a></li>
      <li><a href="">User Management</a></li>
    </ul>
    <div ng-include="sidebar.commonPart"></div>
  </div>
</div>