<div class="row">
	<div class="grey-block col-sm-6 col-sm-offset-3">
		<h2>create a free shipper account</h2>
		<div class="row">
			<form name="shipperSignupForm" ng-submit="create(shipper, shipperSignupForm)" class="shipper-signup row col-sm-8 col-sm-offset-2">
				<div class="form-row"><input ng-model="shipper.firstName" placeholder="First Name" type="text" required></div>
				<div class="form-row"><input ng-model="shipper.lastName" placeholder="Last Name" type="text" required></div>
				<div class="form-row"><input ng-model="shipper.email" placeholder="Email" type="email" required></div>
				<div class="form-row"><input ng-model="shipper.password" placeholder="Password" type="password" required></div>
				<label class="form-row"><input ng-model="agreement" ng-model="shipper.password" type="checkbox" required><span>Yes! Send me genuinely useful emails every now and then to help me get the most out of Foxrey.</span></label>
				<button ng-model="submit" ng-disabled="!agreement" type="submit" class="btn btn-primary">get started</button>
			</form>
		</div>	
	</div>
</div>