<!-- delivery-search.html -->

<div class="row">
  <form class="form-inline" name="form" novalidate>
    <div class="form-group col-md-3">
      <label class="sr-only" for="category">Filter by category</label>
      <select name="category" class="form-control max-width" ng-model="filterCategory">
        <option value="">Filter by category</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <div class="input-group">
        <label class="sr-only" for="category">Date</label>
        <input type="date" name="date" class="form-control" placeholder="Date" ng-model="filter.dt"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          <button type="button" class="btn btn-default" ng-click="print()">A</button>
        </span>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label class="sr-only" for="category">Pickup City</label>
      <input type="text" class="form-control" placeholder="Pickup City" ng-model="filter.pickupCity" />
    </div>
    <div class="form-group col-md-3">
      <label class="sr-only" for="category">Delivery City</label>
      <input type="text" class="form-control" placeholder="Delivery City" ng-model="filter.deliveryCity" />
    </div>
  </form>
</div>

<div class="row top-buffer">
  <div class="col-sm-6 col-md-4" ng-repeat="delivery in deliveries | filter: {category: filterCategory, from: filter.pickupCity, to: filter.deliveryCity, date: filter.dt}">
    <div class="thumbnail">
      <p class="text-center">{{delivery.id}}</p>
      <div class="caption">
        <h3 class="text-center">{{delivery.name}}</h3>
        <p class="text-center">{{delivery.date}}</p>
        <p class="text-center">{{delivery.from}}</p>
        <p class="text-center">{{delivery.to}}</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Quote</a></p>
      </div>
    </div>
  </div>
</div>