<div class="row">
	<div class="grey-block col-sm-6 col-sm-offset-3">
		<h2>Autorize yourself</h2>
		<div class="row">
			<form name="autorizationForm" ng-submit="login(user, autorizationForm)" class="shipper-signup row col-sm-8 col-sm-offset-2" novalidate>
				<div class="form-row"><input ng-model="user.email" placeholder="Email" type="email" required></div>
				<div class="form-row"><input ng-model="user.password" placeholder="Password" type="password" required></div>
				<button type="submit" class="btn btn-primary">Login</button>
				<a href="/signup">Registration</a>
			</form>  
		</div>
	</div>
</div>